.places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}

.swiss,
.georgy,
.sweden {
    width: 100%;

    /* Эффект стекла */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    transition: 0.3s ease;
}

.swiss:hover,
.georgy:hover,
.sweden:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.15);
}

/* Фотографии */
.slider {
    position: relative;
    width: 100%;
    height: 250px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.7s;
    z-index: 2;
}

.slider button:hover {
    background: white;
    color: black;
    transform: translateY(-50%) rotate(180deg);
}
.place-info{
    text-align: center;
    padding: 30px;
} 
.place-info h2{
    font-size:32px ;
    margin-bottom: 15px;
    color: white;
}
.place-info p{
    font-size: 20px;
    color: #64748b;
    line-height: 1.6;
}
body{
    background-image: url(background/mountbg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}